/.DS_Store
/.project
*.iml
.clover/*
/.idea/*
*.ipr
*.iws

# VSCode IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.vscode-test
.history/
*.vsix
